@font-face {
    font-family: "Gilroy Extra Bold";
    src: url("../fontsweb/gilroyextrabold.woff") format("woff"),
         url("../fontsweb/gilroyextrabold.woff2") format("woff2");
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: "Gilroy Light";
    src: url("../fontsweb/gilroylight.woff") format("woff"),
         url("../fontsweb/gilroylight.woff2") format("woff2");
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fontsweb/opensans.woff") format("woff"),
         url("../fontsweb/opensans.woff2") format("woff2");
         font-weight: normal;
         font-style: normal;
}
@font-face {
    font-family: "Open Sans Light";
    src: url("../fontsweb/opensanslight.woff") format("woff"),
         url("../fontsweb/opensanslight.woff2") format("woff2");
         font-weight: normal;
         font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1160px;

    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    line-height: 2.0;
    letter-spacing: 0.2px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Заголовки*/

.page-title-1,
.page-title-2 {
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 47px;
    letter-spacing: 0.5px;
    color: #000000;
    line-height: 1.2;
}
.page-title-3 {
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #000000;
}

/*Кнопки*/

.button-1 {
    width: 220px;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.6px;
    text-transform: uppercase;
    
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.button-1::before {
    content: "";
    width: 220px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 0;
    display: block;
    z-index: -1;
    background-color: #f0c52e;
}
.button-1:hover {
    background-color: #f0c52e;
}
.button-1:focus {
    color: rgba(0, 0, 0, 0.3);
}


.button-2 {
    width: 160px;
    height: 40px;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 18px;
    color: #000000;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    outline: transparent;
    border-radius: 0;
    
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    z-index: 1;
}
.button-2::before {
    content: "";
    width: 160px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 0;
    display: block;
    z-index: -1;
    background-color: #f0c52e;
}

.button-2:hover {
    background-color: #f0c52e;
}
.button-2:focus ,
.button-2:active {
    width: 278px;
    color: #f7e184;
    background-color: #000000;
}
.button-2:focus::before,
.button-2:active::before {
    visibility: hidden;
}


.button-3 {
    width: 260px;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.6px;
    text-transform: uppercase;
    
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    border: transparent;
    background-color: transparent;
    outline: transparent;
}
.button-3::before {
    content: "";
    width: 260px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 0;
    display: block;
    z-index: -1;
    background-color: #f0c52e;
}

.button-5 {

    border: transparent;
    background-color: transparent;
    outline: transparent;
    font-size: 13px;
    line-height: 2.77;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.5);
}


.button-6 {
    width: 200px;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3.6px;
    text-transform: uppercase;

    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;

    border: transparent;
    background-color: transparent;
    outline: transparent;
}
.button-6::before {
    content: "";
    width: 200px;
    height: 8px;
    position: absolute;
    top: 35%;
    left: 0;
    display: block;
    z-index: -1;
    background-color: #f0c52e;
}
.button-6:hover {
    background-color: #f0c52e;
}
.button-6:focus {
    color: rgba(0, 0, 0, 0.3);
}


*::before, *::after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
}

/*форма поиска*/

.search {
    position: relative;
    width: 441px;
    height: 49px;
}
.search::before {
    top: 17px;
    left: -34px;
    width: 16px;
    height: 16px;
    background-image: url("../img/search.svg");
}

.search input[type="search"] {
    width: 352px;
    height: 100%;
    border: none;
    background-color: #f7e296;
    outline: transparent;
    opacity: 0.3;
}

.search input[type="search"]:hover {
    opacity: 0.6;
}

.search input[type="search"]:focus {
    opacity: 1;
    border-bottom: 2px solid #000000;
}

.search input[type="search"]:focus ~ input[type="submit"] {
    visibility: visible;
}

.search input[type="submit"] {
    width: 85px;
    height: 100%;
    border: 2px solid #000000;
    visibility: hidden;
    background-color: #f7e296;
    margin-left: -4px;
    padding-bottom: 4px;
}

.search input[type="submit"]:hover,
.search input[type="submit"]:focus {
    background-color: #000000;
    color: #ffffff;
}

.search input[type="submit"]:active {
    visibility: visible;
    color: rgba(255, 255, 255, 0.3); 
    outline: transparent;
}

/*Навигация*/

.main-header {
    margin: 0;
    padding: 0;
    width: 1160px;
    min-height: 299px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7e296;
}

.main-header a {
    color: rgba(0, 0, 0, 1);
}
.main-header a:hover {
    color: rgba(0, 0, 0, 0.6);
}
.main-header a:focus {
    color: rgba(0, 0, 0, 0.3);
}
.main-header ul {
    list-style: none;
}

.logo-header {
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 48px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
    width: 170px;
    height: 40px;
    display: block;
    margin-left: 57px;
    transform: translateY(-48px);
}

.wrapper-second-user-navigation ul {
    line-height: 2.4;
    letter-spacing: 0.2px;
}

.login-link-exit a {
    opacity: 0.3;
}

.wrapper-second-user-navigation {
    width: 1003px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -7px;
    margin-left: 97px;
    margin-right: 60px;
}

.user-navigation,
.second-navigation {
    width: 281px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-compare,
.login-link {
    margin-left: 88px;
}



.main-navigation {
    position: relative;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 1044px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 59px;
    margin-right: 57px;
}

.catalog-warranty {
    position: relative;
    margin-right: -215px;
}
.catalog-delivery {
    position: relative;
    margin-right: -290px;
}

.drop-catalog {
    position: absolute;
    left: -40px;
    width: 1119px;
    min-height: 139px;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-transform: none;
    background-color:  #f7e296;
    display: none;
    z-index: 1;

}
.main-navigation > li:hover .drop-catalog {
    display: flex;
}


.first-column-drop-catalog,
.second-column-drop-catalog,
.third-column-drop-catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 2.4;
}

.second-column-drop-catalog {
    margin-left: 18px;
}
.third-column-drop-catalog {
    margin-left: 35px;
}

.nav-catalog,
.nav-compare,
.nav-basket,
.login-link {
    position: relative;
}
.nav-catalog::after {
    top: 10px;
    left: 231px;
    width: 16px;
    height: 16px;
    background-image: url("../img/plus.svg");
    opacity: 0.3;
}
.nav-compare::before {
    top: 14px;
    right: 80px;
    width: 10px;
    height: 10px;
    background-image: url("../img/compare.svg");
}
.nav-basket::before {
    top: 12px;
    right: 70px;
    width: 12px;
    height: 12px;
    background-image: url("../img/cart.svg");
}
.login-link::before {
    top: 12px;
    left: -26px;
    width: 13px;
    height: 12px;
    background-image: url("../img/user.svg");
}


/*Слайдеры*/



.slider-1,
.slider-2,
.slider-3 {
    position: relative;
    margin: 0;
    padding: 0;
    margin: auto;
    width: 1160px;
    min-height: 390px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.slider,
.slider-2,
.slider-3,
.show-sliders {
        background-color: green;
        display: none; 
}
.slider-1 {
    background-color: ;
}
.description-sliders {
    position: relative;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-right: -180px;
}
.description-sliders::before {
    width: 100px;
    height: 7px;
    top: -74px;
    background-color: #ffffff;
}
.number-slider {
    position: absolute;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 179.2px;
    line-height: 1.0;
    letter-spacing: 1.8px;
    color: #ffffff;
    top: -125px;
    right: 26px;
}

.slider-1 img {
    position: absolute;
    top: -110px;
    left: 90px;
}
.slider-2 img {
    position: absolute;
    top: -100px;
    left: 117px;

}
.slider-3 img {
    position: absolute;
    top: -46px;
    left: 32px;
}

.slider-1 h2,
.slider-2 h2,
.slider-3 h2 {
    position: relative;
    margin-top: -32px;
}

.slider-1 p,
.slider-2 p,
.slider-3 p {
    position: relative;
    margin-top: -20px;
}

.slider-link.button-1 {
    margin-top: 31px;
}


.slider-1 table,
.slider-2 table,
.slider-3 table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 540px;
    margin-top: 37px;
    margin-left: -1px;

}

.characteristic.column-1  {
    width: 160px;
}
.column-2 {
    width: 140px;
}
.column-3 {
    width: 240px;
}

.characteristic {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 36px;
    letter-spacing: 0.4px;
    color: #000000;
}


.type {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 0.1px;
    color: #000000;

}


.show-sliders {
    list-style: none;
}


/*Популярные товары иконки+заголовки*/

.popular-products {
    margin: 0;
    padding: 0;
    width: 1160px;
    min-height: 320px;
    margin: auto;
    margin-top: 91px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-item {
    width: 160px;
}

.popular-img {
    width: 160px;
    height: 160px;

}
.wrapper-popular-img {
    background-color: #f7e296;

}
.page-title-3.popular-title {
    margin-top: 28px;
    line-height: 1.2;
}
.popular-item:hover .wrapper-popular-img,
.popular-item:focus .popular-img {
    background-color: #f0c52e;
}
.popular-item:active .page-title-3.popular-title {
    opacity: 0.3;}

.popular-item:active .popular-img {
    opacity: 0.3;
}


/* Сервисные слайды*/

.main-services-sliders {
    background-color: #e5e5e5;
    z-index: 0;
    margin-top: 102px;
}

.wrapper-services-sliders {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.slider-services-2,
.slider-services-3 {
    display: none;
}
.slider-services-1,
.slider-services-2,
.slider-services-3 {
    position: relative;
    width: 882px;
    min-height: 288px;
}

.page-title-2.services-title {
    position: absolute;
    letter-spacing: 0.5px;
    top: -70px;
    left: 123px;
}

.services-info-1,
.services-info-2,
.services-info-3 {
    position: relative;
    margin: 0;
    padding: 0;
    top: 53px;
    left: 122px;
}

.services-info-1::after {
    width: 136px;
    height: 164px;
    background-image: url("../img/delivery.svg");
    top: -68px;
    left: 557px;
}
.services-info-2::after {
    width: 170px;
    height: 194px;
    background-image: url("../img/warranty.svg");
    top: -92px;
    left: 543px;
}
.services-info-3::after {
    width: 156px;
    height: 186px;
    background-image: url("../img/credit.svg");
    top: -92px;
    left: 536px;
}
.services-info-1::before,
.services-info-2::before,
.services-info-3::before {
    width: 7px;
    height: 319px;
    background-color: #000000;
    top: -153px;
    left: -123px;
}
.services-sliders-button {
    position: relative;
    margin: 0;
    padding: 0;
    width: 278px;
    min-height: 288px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -20px;
}


/*logo-brends*/

.logo-partners {
    width: 1160px;
}
.logo-brends {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: -58px;
    margin-left: 60px;
    margin-top: 93px;
}

.logo-brends-img {
    filter: grayscale(1);
    opacity: 0.2;
}


.logo-brends-img:hover,
.logo-brends-img:focus {
    filter: grayscale(0);
    opacity: 1;
    transition-duration: 0.5s;
}


/*  О нас и Котакты */

.about-us-contact-columns {
    width: 1160px;
    min-height: 646px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 94px;

}

.about-us {
    width: 490px;
    margin-left: -3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.about-us:before {
    width: 80px;
    height: 7px;
    background-color: #000000;
    top: -9px;
    left: 3px;
}

.delivery-company {
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 16px;
    color: #000000;
    margin-top: 52px;
    margin-left: -2px;
    line-height: 2.4;
    list-style: none;
    position: relative;
    margin-bottom: 60px;
}

.delivery-company li::before {
    transform: translateY(15px);
    left: 7px;
    width: 8px;
    height: 8px;
    background-image: url("../img/delivery-button.png");
}
.info-about-us {
    margin-top: 1px;
    margin-left: 3px;
}
.button-3.button-about-us {
    margin-left: 3px;
}



.contacts {
    width: 562px;
    min-height: 646px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.contacts:before {
    width: 80px;
    height: 7px;
    background-color: #000000;
    top: -9px;
    left: 3px;
}
.info-contacts {
    margin-top: 0px;
    margin-bottom: 24px;
}
.button-3.write-us {
    margin-top: 69px;
    margin-left: 3px;

}


.modal-write-us {
    display: none;
}


/*footer*/


.main-footer {
    min-height: 323px;
    background-color: green;
    margin-top: px;
    padding-top: 60px;
    position: relative;
}

.main-footer a {
    color: #ffffff;
}


.logo-footer.yellow {
    position: absolute;
    top: 3px;
    left: -3px;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 48px;
    letter-spacing: 0.5px;7
    width: 170px;
    height: 40px;
    color: rgba(255, 198, 0, 1);
}

.logo-footer:hover {
    color: rgba(255, 198, 0, 0.5);
}
.logo-footer:focus {
    color: rgba(255, 198, 0, 0.3);
}

.main-navigation-footer {
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    list-style: none;
}
.main-navigation-footer a:hover {
    color: rgba(255, 255, 255, 0.6);
}
.main-navigation-footer a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.wrapper-main-navigation-footer {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;

}
.main-navigation-footer {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper-second-user-navigation-footer { 
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}
.main-footer *::before {
    color: yellow;
}

.second-navigation-footer {
    width: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -30px;

}

.user-navigation-footer,
.second-navigation-footer {
    line-height: 2.4;
    list-style: none;
    margin:0;
    padding: 0;
}
.user-navigation-footer a,
.second-navigation-footer a {
    color: rgba(255, 255, 255, 0.7);
}
.user-navigation-footer a:hover,
.second-navigation-footer a:hover {
    color: rgba(255, 255, 255, 1);
}
.user-navigation-footer a:focus,
.second-navigation-footer a:focus {
    color: rgba(255, 255, 255, 0.3);
}

.social-button-footer {
    width: 200px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
.social-button {
    opacity: 0.3;
}
.social-button:hover,
.social-button:focus{
    opacity: 0.6;
}
.social-button:active {
    opacity: 0.1;
}

.htmlacademy:hover,
.htmlacademy:focus {
    opacity: 0.6;
}
.htmlacademy:active {
    opacity: 0.3;
}

.address,
.phone {
    line-height: 2.4;
    color: #ffffff;
}



.breadcrumbs {
    margin: 0;
    padding: 0;
    width: 381px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    justify-content: space-between;
}

.breadcrumbs-items {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 2.57;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-items.catalog:hover {
    color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs-items.catalog:focus {
    color: rgba(0, 0, 0, 0.1);
}

.page-title-1.monopod {
    margin: 0;
    padding: 0;
    margin-left: 120px;
}

.filters-title,
.sorting-title {
    margin: 0;
    padding: 0;
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 16px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: #000000;
}

.filters-title {
    min-height: 70px;
    background-color: #dbdbdb;
}
.catalog-columns {
    width: 1440px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-sorting {
    margin: 0;
    padding: 0;
    width: 972px;
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
}

.wrapper-filters {
    width: 468px;
    min-height: 1283px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: auto;
    background-color: #ebebeb;
}


.sorting.item {
    margin: 0;
    padding: 0;
    width: 834px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 970px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalog-item {
    width: 360px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

.sorting-price,
.sorting-type,
.sorting-popular {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(0, 0, 0, 0.3);
}
.sorting-price:hover,
.sorting-type:hover,
.sorting-popular:hover {
    color: rgba(0, 0, 0, 0.6);
}
.sorting-price:focus,
.sorting-type:focus,
.sorting-popular:focus {
    color: rgba(0, 0, 0, 1);
}

.colors,
.bluetooth-form {
    list-style: none;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 2.86;
    letter-spacing: 0.1px;
    color: #000000;
}




.catalog-item-price {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #000000;
}

.modal-basket-compare {
    display: inline-block;
    margin: auto;
    width: 360px;
    height: 380px;
    list-style: none;
    visibility: hidden;
    background-color: rgba(238, 238, 238, 0.7);
    z-index: -1;
}

.pagination-list,
.button-backward,
.button-forward {
    font-family: "Gilroy Extra Bold", "Arial Black", sans-serif;
    font-size: 16px;
    letter-spacing: 3.2px;
    color: #000000;
    list-style: none;
}

.button-backward,
.button-forward {
    text-transform: uppercase;
    border-color: transparent;
}

.pagination-number {
    color: rgba(0, 0, 0, 0.3);
}



